.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
   .btn:focus-visible {
    color: yellow;
    background-color: var(--bs-btn-hover-bg);
    border-color:black;
    outline: 0;
    box-shadow: var(--bs-btn-focus-box-shadow);
}
